* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000;
    color: white;
    max-height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    /*background: url(../images/banner.png);
    background-size: cover;
    background-position: center;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: 0.5s;
}

.navbar a:hover, .navbar a.active {
    color: green;
}

/* Sections Styling */
section {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #000005;
    border: 2px solid green;
    border-radius: 8px;
    font-size: 30px;
    color: green;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
    margin-right: 15px;
}

.btn-box a:hover {
    color: black;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: green;
    transition: 0.5s;
    z-index: -1;
}

.btn-box a:hover::before {
    width: 100%;
}